<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>http://gfs8.gomein.net.cn/T1OMAvBQhT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>爆品牛商</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T15dxvBsdT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>三铁云仓</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs6.gomein.net.cn/T1SGdvBjEj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>工厂直营</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs6.gomein.net.cn/T10GdvBjAj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>本地批发</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1IGdvBjDj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>促销专区</string>
		<key>gridTag</key>
		<string>分期免息 </string>
		<key>gridColor</key>
		<string>#A48A56</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs7.gomein.net.cn/T1yGdvBvZj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>领券中心</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs7.gomein.net.cn/T1cvKvBbhT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>卖家入驻</string>
		<key>gridTag</key>
		<string>9.9 元起 </string>
		<key>gridColor</key>
		<string>#80BA18</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1EvKvBv_v1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>永年市场</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>温州市场</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>戴南市场</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>购买记录</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>帮助中心</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
