<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
				<key>dateExpires</key>
				<string>2020/5/9</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CDDPagerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FWCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KSCrash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RTRootNavigationController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TFDropDownMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>82D151A1AE5FB9C5D3D288A9BBEFD7ACF71854B8</string>
						<key>dateExpires</key>
						<string>2020/5/9</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLXRF9N3NQ</string>
						<key>name</key>
						<string>ZheJiang SanTie Information Technology Co., Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SLXRF9N3NQ.com.santie.appstore</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SLXRF9N3NQ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>SLXRF9N3NQ.com.santie.appstore</string>
				</array>
			</dict>
			<key>name</key>
			<string>Shop.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3fa5f19e-b636-4b92-af8d-25d3adccd96d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.santie.appstore</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SLXRF9N3NQ</string>
				<key>name</key>
				<string>ZheJiang SanTie Information Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
